.footer__columns {
    display: flex;
    padding: 67px 186px;
    justify-content: space-between;
}


@media screen and (max-width: 1293.98px) {
    .footer__columns {
        padding: 67px 176px;
    }
}

@media screen and (max-width: 1229.98px) {
    .footer__columns {
        padding: 67px 166px;
    }
}

@media screen and (max-width: 1150.98px) {
    .footer__columns {
        padding: 67px 156px;
    }
}

@media screen and (max-width: 998.98px) {
    .footer__columns {
        padding: 67px 116px;
    }
}

@media screen and (max-width: 893.98px) {
    .footer__columns {
        padding: 67px 86px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 530.98px) {
    .footer__columns {
        padding: 67px 56px;
    }
}

@media screen and (max-width: 430.98px) {
    .footer__columns {
        padding: 67px 20px;
    }
}

@media screen and (max-width: 389.98px) {
    .footer__columns {
        flex-direction: column;
        align-items: center;
    }
}