.banner__pointer_top {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
    position: absolute;
    top: 17.9%;
    left: -19%;
    margin: 0;
    display: block;
    font-family: 'Prata', serif;
}

.banner__pointer_top::after {
    background-color: #8B8371;
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: -65px;
    display: block;
}

.banner__pointer_top span {
    font-size: 18px;
}


@media screen and (max-width: 1119.98px) {
    .banner__pointer_top {
        display: none;
    }
}
