.header__nav {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0;
}

@media screen and (max-width: 699.98px) {
    .header__nav {
        margin-top: 15px;
    }
}